@import "./reset";
@import "./color";

nav {
    display: flex;
    justify-content: space-between;
    align-self: center;
    background-color: rgb(100, 19, 107);
    padding: 10px;

    .bolt {
        img {
            // display: none;
            padding-top: 2vh;
            // width: 50px;
            border-radius: 50%;
            padding-top: 2vh;
            padding-bottom: 2vh;
            width: 50px;
            // position: fixed;
        }
    }

    .navBar {
        color: white;
        display: flex;
        list-style: none;
        gap: 5vw;
        text-align: center;
        padding-top: 3vh;
        

        @media screen and(max-width:780px) {
            display: block;
            position: absolute;
    background-color: rgb(124, 20, 124);
    color: white;
    top: 67px;
    left: -200vh;
    &.show{
        display: flex;
        flex-direction: column;
            position: relative;
    background-color: rgb(100, 19, 107);
    min-height: 300px;
    color: white;
    top: 49px;
    left: -125px;
    }

        }
    }
    .btn1 {
        background-color: black;
        border-radius: 50px;
        color: aliceblue;
        height: 45px;
        margin-top: 5px;
        font-size: 14px;
        padding: 10px;

        @media screen and(max-width:780px) {
            display: none;
        }
        &:hover {
            background-color: beige;
            color: brown;
            pointer-events: visible;
            cursor: pointer;
        }
    }
    .fa {
        // display: none;
        // width: 100px;
        padding-top: 3vh;
        color: aliceblue;
        
        @media screen and(min-width:780px) {
            display: none;
        }
    }
}
